@{
    ViewBag.Title = "InsertCode";
}

<h2>Insert your code</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Authorization</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Your code</label>
            <div class="col-md-10">
                <input type="text" name="code" value="" class = "form-control"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit">Submit</button>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Home", "Home", "Index")
</div>
